<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Admin</h1>
    <h2 >Users</h2>
    <div class="table-responsive">
        <table id="admin-table" class="table table-striped">
            <thead>
            <tr>
                <th><button class="sorting-icon" href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></button> Username</th>
                <th><button class="sorting-icon" href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></button> Password</th>
                <th><button class="sorting-icon" href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></button> Role</th>
                <th><button class="sorting-icon" href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></button> Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" class="form-control" id="inputAdminUsername" placeholder="username"></td>
                <td><input type="text" class="form-control" id="inputAdminPassword" placeholder="password"></td>
                <td><input type="text" class="form-control" id="inputAdminRole" placeholder="role1, role2"></td>
                <td>
                    <button type="button" class="btn btn-info editIcon"><span class="glyphicon glyphicon-plus"></span></button>
                    <button type="button" class="btn btn-success editIcon"><span class="glyphicon glyphicon-ok"></span></button>
                </td>
            </tr>
            <tr>
                <td>alice</td>
                <td></td>
                <td>student</td>
                <td>
                    <button type="button" class="btn btn-danger editIcon"><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button" class="btn btn-primary editIcon"><span class="glyphicon glyphicon-pencil"></span></button>
                </td>
            </tr>
            <tr>
                <td>bob</td>
                <td></td>
                <td>faculty | admin</td>
                <td>
                    <button type="button" class="btn btn-danger editIcon"><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button" class="btn btn-primary editIcon"><span class="glyphicon glyphicon-pencil"></span></button>
                </td>
            </tr>
            <tr>
                <td>charlie</td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-danger editIcon"><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button" class="btn btn-primary editIcon"><span class="glyphicon glyphicon-pencil"></span></button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

</div>
