<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Forms: Registration Form</h1>
    <ul class="nav nav-tabs">
        <li><a href="#/forms">Forms</a></li>
        <li class="active"><a href="#/fields">Fields</a></li>
    </ul>
    <div class="table-responsive">
        <table id="tableGrid" class="table table-striped">
            <thead>
            <tr>
                <th>Form Fields Edit</th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label for="inputFirstname" class="control-label">First Name:</label>
                    <input type="text" ng-model="input" class="form-control" id="inputFirstname" placeholder="First Name">
                </td>
                <td>
                    <button type="button" class="btn btn-primary editIcon"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" class="btn btn-info editIcon"><span class="glyphicon glyphicon-plus"></span></button>
                    <button type="button" class="btn btn-danger editIcon"><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button" class="btn btn-warning editIcon"><span class="glyphicon glyphicon-align-justify"></span></button>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="inputLasttname" class="control-label">Last Name:</label>
                    <input type="text" class="form-control" id="inputLasttname" placeholder="Last Name">
                </td>
                <td>
                    <button type="button" class="btn btn-primary editIcon"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" class="btn btn-info editIcon"><span class="glyphicon glyphicon-plus"></span></button>
                    <button type="button" class="btn btn-danger editIcon"><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button" class="btn btn-warning editIcon"><span class="glyphicon glyphicon-align-justify"></span></button>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="inputDOB" class="control-label">Date of Birth:</label>
                    <div class="form-group date">
                        <div date-picker class="input-group input-append date datePicker" id="inputDOB">
                            <input type="text" class="form-control" name="date">
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary editIcon"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" class="btn btn-info editIcon"><span class="glyphicon glyphicon-plus"></span></button>
                    <button type="button" class="btn btn-danger editIcon"><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button" class="btn btn-warning editIcon"><span class="glyphicon glyphicon-align-justify"></span></button>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="inputGender" class="control-label">Gender:</label>
                    <select class="form-control" id="inputGender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-primary editIcon"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" class="btn btn-info editIcon"><span class="glyphicon glyphicon-plus"></span></button>
                    <button type="button" class="btn btn-danger editIcon"><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button" class="btn btn-warning editIcon"><span class="glyphicon glyphicon-align-justify"></span></button>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="inputRoles" class="control-label">Roles:</label>
                    <div class="checkbox" id="inputRoles">
                        <label>
                            <input type="checkbox" value="admin"> Admin
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="student"> Student
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="user"> User
                        </label>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary editIcon"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" class="btn btn-info editIcon"><span class="glyphicon glyphicon-plus"></span></button>
                    <button type="button" class="btn btn-danger editIcon"><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button" class="btn btn-warning editIcon"><span class="glyphicon glyphicon-align-justify"></span></button>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="inputGender" class="control-label">License Agreement:</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadiosYes" value="yes"> Yes
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadiosNo" value="no"> No
                        </label>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary editIcon"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" class="btn btn-info editIcon"><span class="glyphicon glyphicon-plus"></span></button>
                    <button type="button" class="btn btn-danger editIcon"><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button" class="btn btn-warning editIcon"><span class="glyphicon glyphicon-align-justify"></span></button>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="inputNewField" class="control-label">Add New Field:</label>
                    <select class="form-control" id="inputNewField">
                        <option value="SLTxt">Single Line Text</option>
                        <option value="date">Date</option>
                        <option value="dropdown">Dropdown</option>
                        <option value="check">Checkboxes</option>
                        <option value="radio">Radio Buttons</option>
                        <option value="paragraph">Paragraph Text Field</option>
                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-info editIcon"><span class="glyphicon glyphicon-plus"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



