/*-------------------custom table-------------------*/
#admin-table {
    border: 1px solid #c9c9c9;
}
#admin-table td:nth-child(4) {
    width: 18%;
    text-align: right;
}
#admin-table th:nth-child(4) {
    text-align: right;
    padding-right: 20px;
}
#tableGrid {
    width: 100%;
    border: 1px solid #c9c9c9;
    border-top-width: 0;
}
#tableGrid tr > td {
    padding: 10px;
}
#tableGrid td:nth-child(2) {
    text-align: right;
    vertical-align: top;
    width: 50%;
}
#action-style {
    text-align: right;
    padding-right: 23px;
}
/*-------------------edit icon-------------------*/
.editIcon {
    color: white;
    border: 0;
    padding: 8px 10px 6px;
    border-radius: 3px;
}
.icon-plus {
    background-color: #5bc0de;
}
.icon-remove {
    background-color: #d9534f;
}
.icon-pencil {
    background-color: #428bca;
}
.icon-ok {
    background-color: #5cb85c;
}
.icon-justify {
    background-color: #f0ad4e;
}



.dropdownBtn {
    width: 100%;
}

span.dropdownTxt {
    width: 80%;
    text-align: left;
    border: 1px solid;
}
span.caret {
    text-align: right;

}

.text-align-left {
    text-align: left !important;
}