<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h1 class="page-header">Welcome!</h1>
    <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, to tam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
        eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
        quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
        nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
        quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </p>
    <p class="alert alert-info">For Grading Assignment 4:<br />
        Please either register or use {username:"bob", password:"bob"} to login.<br />
        Github Repo: <a href="https://github.com/hitgxless/WebDevSpring2016">https://github.com/hitgxless/WebDevSpring2016</a>
    </p>
    <p class="alert alert-danger">
        Because Openshift uses MongoDB with a version of 2.4, the code I used with <code>$push</code> and
        <code>$position</code> to sort the fields while dragging a field does not work on Openshift, but
        works well with a higher version of MongoDB.
    </p>

</div>




